/* star is the entire page*/
*{
    margin: 0;
    padding: auto;
    font-family: "Roboto Condensed", sans-serif;  
}

body{
    background-image: url(giza.jpg); /* where to place background image*/
    background-image: linear-gradient(rgba(0,0,0,0,7),rgba(0,0,0,0,7));
    background-position: center;
    background-size: cover;
}

.container{
    width: 100%;
    height: 100vh ;
  
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}
.logo{
    width: 50%;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
/*design for nav menu link*/
nav{
    flex: 1;
    text-align: right;

}

.nav-list {
    list-style-type: none; /* Get rid of the bullets */
    padding: 0; /* Remove padding on the <ul> */
    margin-left: 60px ;
}

.nav-list li {
    display: inline-block; /* Arrange the <li>s next to each other horizontally */
    margin-right: 10px; /* Optional: Add space between the list items */
    margin-right: 0.5em; /* Add right margin of 0.5em to the <li>s */
}
.nav-list li a {
     text-decoration: none; /* removes under-lines from menu titles*/
      font-size: 13px;
      color: #fff;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
   flex-basis: 50%;
}

p,h1{
    color: #fff;
}
 p{
    font-size: 11px;
    line-height: 15px;
 }

 button{
    /*height: 80px;*/
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0; 
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
 }
 .card{
    width: 200px;
    height: 230px;
    display: inline-block ;/*  makes columns*/
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
   flex-direction: column;
   transition: 0.5s ;
 }
 .card1{
    background-image: url(desert.jpg);
 }
 .card2{
    background-image: url(grand\ canyon.jpg);
 }
 .card3{
    background-image: url(kalahari.jpg);
 }
 .card4{
    background-image: url(yellowstone.jpg);
 }
 .card:hover{
    transform: translateY(-10px);
 }
 h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
 }
 .card p {
    text-shadow: 0 0 5px #999;
    font-size: 8px;
 }